@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');

.searchContainer {
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

input, button {
    border-radius: 25px;
    font-size: 25px;
    font-family: 'Signika', sans-serif;
}

input {
    width: 300px;
    height: 50px;
    color: #191414;
    padding: 5px 15px;
    border: none;
}

input:focus {
    outline: 3px solid #1DB954;
}

.searchButton {
    margin-left: 10px;
    width: 110px;
    background-color: #1DB954;
    color: white;
    user-select: none;
    cursor: pointer;
    transition: background-color .2s linear;
}

.searchButton:hover {
    background-color: #25E869;
}

.searchButton:active {
    background-color: #126E32;
}

@media only screen and (max-width: 1300px) {
    .searchContainer {
        margin: 50px auto;
    }
}

@media only screen and (max-width: 920px) {
    .searchContainer {
        margin: 35px auto;
    }

    input, button {
        font-size: 20px;
    }

    input {
        width: 250px;
        height: 40px;
        padding: 4px 12px;
    }

    .searchButton {
        width: 90px;
    }
}

@media only screen and (max-width: 768px) {
    .searchContainer {
        margin: 25px auto;
    }

    input, button {
        font-size: 18px;
    }

    input {
        width: 250px;
        height: 30px;
        padding: 4px 12px;
    }

    .searchButton {
        width: 90px;
    }
}

@media only screen and (max-width: 370px) {
    input {
        width: 180px;
    }
}

@media only screen and (max-width: 300px) {
    .searchContainer {
        margin: 20px auto;
    }

    input, button {
        font-size: 16px;
    }

    input {
        width: 150px;
        height: 25px;
    }

    .searchButton {
        width: 70px;
        font-size: 16px;
        height: 25px;
    }
}