.track {
    list-style-type: none;
}

.songInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track h3 {
    font-size: 20px;
}

.signContainer {
    font-size: 25px;
    margin-right: 10px;
}

.songSeparator {
    border: 1px solid #191414;
    opacity: 0.5;
}

.songAction {
    cursor: pointer;
    user-select: none;
    transition: color .2s linear;
}

.songAction:hover {
    color:#1DB954;
}

.songAction:active {
    color: #126E32;
}

@media only screen and (max-width: 920px) {
    .track h3 {
        font-size: 18px;
    }
    
    .track p {
        font-size: 15px;
    }

    .signContainer p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .track h3 {
        font-size: 14px;
    }
    
    .track p {
        font-size: 12px;
    }

    .signContainer p {
        font-size: 20px;
    }
}